extends ./layout/_base
block meta
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst
	//- script here

block body
	.wrapper
		include ./layout/_header
		section#sec1.parallax
			.bg#bg1
			.content_block
				.row.head-title
					.col-sm-6.col-xs-12
						h1.title ซื้อประกันภัยออนไลน์ง่ายๆ  <br>
						p.desc หลากหลายวิธีตอบรับทุกไลฟ์สไตล์คุณ
				.row
					.col-sm-10.col-xs-12.col-centered
						.row.cards_block
							.col-sm-4
								.card_item
									img(src="http://placehold.it/500x500")
									p.card-title ประกันภัยการเดินทาง
									p.card-desc มั่นใจในทุกเส้นทาง พร้อม <br>บริการ ช่วยเหลือฉุกเฉิน 24 ชม. ตลอด 24 ชม.
									a.buy_btn(href="#") ซื้อประกัน v
							.col-sm-4
								.card_item
									img(src="http://placehold.it/500x500")
									p.card-title ประกันรถยนต์
									p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
									a.buy_btn(href="#") ซื้อประกัน v
							.col-sm-4
								.card_item
									img(src="http://placehold.it/500x500")
									p.card-title ประกันภัยอัคคีภัย และทรัพย์สิน
									p.card-desc สบายใจด้วยความคุ้มครอง <br>สิ่งปลูกสร้างและทรัพย์สินภายใน
									a.buy_btn(href="#") ซื้อประกัน v

		section#sec2
			.float_block
				.row.flex
					.col-sm-12.col-md-6.side-left.hide-sm
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
					.col-sm-12.col-md-6.side-right
						.side_content_block
							.img-content_block.hide-des
								.img-content(style="background-image: url('http://placehold.it/1200x600')")
							.side_in_head-title
								p ประกันภัย<br>การเดินทาง
							.side_in_tab
								ul.nav.nav-tabs
									li.active
										a(data-toggle='tab', href='#home') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ต่างประเทศ
									li
										a(data-toggle='tab', href='#menu1') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ภายในประเทศ
								.tab-content
									#home.tab-pane.fade.in.active
										ul
											li
												p แผนประกันภัยรับรองแล้วจากสถานทูตสบายใจใช้ยื่นขอวีซ่าเชงเก้น 
											li
												p คุ้มครองครอบคลุม อุบัติเหตุและเจ็บป่วย 
											li
												p วีซ่าไม่ผ่าน คืนเงิน 100%
										p i-Insure ขอมอบแผนประกันการเดินทางต่างประเทศ ที่ดีที่สุด สำหรับคุณแผนวีซ่า แผนวีซ่าพลัส แผนวีซ่าอีลีท และแผน คอมพรีเฮนซีฟ แผนประกันการเดินทาง ที่ออกแบบให้ความคุ้มครอง เป็นไปตามเงื่อนไขที่สถานทูตกำหนดในวงเงิน 30,000 ยูโร สะดวก เมื่อขอยื่นวีซ่าในกลุ่มประเทศเชงเก้น อุ่นใจไปกับทุกทริปการเดินทาง ด้วยเครือข่ายบริการ 24 ชั่วโมง

										.showmore
											a(href="javascipt:;" data-toggle="collapse" data-target="#collapse1" ) ดูตารางเปรียบเทียบแผนประกัน
										.showmore
											a(href="javascipt:;" data-toggle="collapse" data-target="#collapse2" ) ดูตารางเปรียบเทียบแผนประกัน
										a.buy_btn(href="#") ซื้อประกัน v
									#menu1.tab-pane.fade
										h3 Menu 1
										p
											| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
		.row.for_collapse
			.col-sm-10.col-centered
				#collapse1.collapse.fromsec2
					p.
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				#collapse2.collapse.fromsec2
					p.
						22222Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
	
		section#sec3.parallax
			.bg#bg3
			.float_block.relative
				.row.flex
					.col-sm-6.side-left
						.side_content_block
							p.title ประกันภัยรถยนต์
							.detail_block
								.text_med.row
									.col-xs-2
										img(src="http://placehold.it/100x200")
									.col-xs-10.col-sm-6.col-md-10
										p  เพิ่มความอุ่นใจให้คุณทุกเส้นทาง... ด้วยบริการช่วยเหลือฉุกเฉิน บนท้องถนน ตลอด 24 ชั่วโมง 

								.text_med
									p ประกันภัยรถยนต์ออนไลน์ i-Insure ง่าย สะดวก รวดเร็ว พร้อมเลือกประเภทความคุ้มครองที่เหมาะกับ รถยนต์ของคุณ
								.text_light
									p ประกันภัยรถยนต์ประเภท 1, 2+, 3, หรือ 3+ และเลือกซื้อความคุ้มครองเพิ่มภัยน้ำท่วม หรือประกันภัยรถยนต์ ภาคบังคับ (พ.ร.บ.)
										.showmore
											a(href="javascipt:;" data-toggle="collapse" data-target="#collapse3" ) ดูตารางเปรียบเทียบแผนประกัน
							a.buy_btn(href="#") ซื้อประกัน v
						
					.col-sm-6.side-right
						.img-content(style="background-image: url('http://placehold.it/1200x600')")

		.row.for_collapse
			.col-sm-10.col-centered
				#collapse3.collapse.fromsec2
					p.
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						
		section#sec4
			.float_block
				.row.flex
					.col-xs-12.side-center
						.side_content_block
							img.main_ico(src="http://placehold.it/600x600", alt="")
							p.title ประกันอัคคีภัยและทรัพย์สิน
							.text_med
								p แผนประกันภัยทรัพย์สินภายในบ้าน Happy Home Protect คุ้มครองความสูญเสีย หรือความเสียหาย ของทรัพย์สินภายในบ้าน
							.text_light
								p ที่เกิดจาก ไฟไหม้ ฟ้าผ่า ภัยระเบิด ยวดยานพาหนะ อากาศยาน ภัยเนื่องจากน้ำ ลมพายุ แผ่นดินไหว ลูกเห็บ และน้ำท่วม รวมถึง คุ้มครองความสูญเสียหรือความเสียหายของเครื่องใช้ไฟฟ้า ทั้งยัง ครอบคุลมถึงความสูญเสียหรือเสียหายของทรัพย์สินมีค่าภายในบ้าน อันเนื่องจากถูกโจรกรรม เช่น อัญมณี เครื่องประดับ นาฬิกา โทรศัพท์มือถือ คอมพิวเตอร์พกพา ฯลฯ และความรับผิด ต่อบุคคลภายนอก

		section#sec5.parallax
			.bg#bg5
			.row
				.col-sm-6.col-centered
					p.title หลักฐานการรับประกันภัย
					.text_light
						p การซื้อประกันการเดินทางผ่านระบบออนไลน์ ระบบจะส่งตารางกรมธรรม์ประกันภัย และเงื่อนไขความคุ้มครองให้ทางอีเมล โดยอัตโนมัติ และสามารถพิมพ์ตารางกรมธรรม์ แล้วนำไปยื่นขอวีซ่าเข้าประเทศในกลุ่มเชงเก้นได้ทันที ส่วนประกันภัย ผ่านระบบออนไลน์ประเภทอื่นๆ ระบบจะจัดส่งสำเนาตารางกรมธรรม์ประกันภัย และเงื่อนไขความคุ้มครองให้ทางอีเมล โดยอัตโนมัติ และทำการจัดส่งกรมธรรม์ฉบับจริงให้ทางไปรษณีย์
		section#sec6
				.row
					.col-xs-12.col-centered
						p.title ช่องทางการชำระเงินค่าเบี้ยประกันภัย
					.col-sm-10.col-centered
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p กรณีทำรายการผ่านระบบออนไลน์ สามารถชำระ ค่าเบี้ยประกันภัย ด้วยบัตรเครดิต ประเภทวีซ่า มาสเตอร์ หรือเจซีบี
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p ชำระผ่านเคาน์เตอร์ ธนาคารกรุงไทย ธนาคารกรุงเทพ ธนาคารกรุงศรีอยุธยา ธนาคากสิกรไทย ธนาคารธนชาต ธนาคารไทยพาณิชย์ ธนาคารทหารไทย หรือ ธนาคารยูโอบี เข้าบัญชี บริษัท กรุงไทยพานิชประกันภัย จำกัด (มหาชน) 
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p ชำระผ่านตู้ ATM ธนาคารกรุงไทย ธนาคารกรุงเทพ ธนาคารกรุงศรีอยุธยา ธนาคากสิกรไทย ธนาคารธนชาต ธนาคารไทยพาณิชย์ ธนาคารทหารไทย หรือ ธนาคารยูโอบี เข้าบัญชี บริษัท กรุงไทยพานิชประกันภัย จำกัด (มหาชน)
		section#sec7
				.row
					.col-sm-10.col-centered
						.row
							.col-sm-6.sec7_item
								.col-xs-2
									img(src="http://placehold.it/300x300")
								.col-xs-10
									p สอบถามข้อมูลทั่วไป<br>จันทร์-ศุกร์ เวลา 8.30-16.30 น.
									p.contect 02-3950204 
										span ต่อ 
										| 4775
							.col-sm-6.sec7_item
								.col-xs-2
									img(src="http://placehold.it/300x300")
								.col-xs-10
									p สอบถามข้อมูลสินไหมทั่วไป<br>จันทร์-ศุกร์ เวลา 8.30-16.30 น.
									p.contect 02-3950204 
										span ต่อ 
										| 4932
							//- .col-sm-4.sec7_item
							//- 	.col-xs-2
							//- 		img(src="http://placehold.it/300x300")
							//- 	.col-xs-10
							//- 		p บริการช่วยเหลือ<br>ฉุกเฉิน 24 ชั่วโมง
							//- 		p.contect 02-3054474


		//- end content
		include ./layout/_footer

block js
	//- script here