extends ./layout/_base
block meta
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
block var
	-var currentPage = "home"

block title
	title ประกันการเดินทาง ประกันรถยนต์ | KPI
	
block jsFirst
	//- script here

block body
	.wrapper
		include ./layout/_header
		section#sec1.parallax
			.bg#bg1
			.content_block
				.row.head-title
					.col-sm-6.col-xs-12
						h1.title ซื้อประกันภัยออนไลน์ง่ายๆ  <br>
						p.desc เพียง 4 ขั้นตอน สะดวก รวดเร็ว...<br>ด้วยแผนประกันภัยที่คุณต้องการ
				.row
					.col-sm-10.col-xs-12.col-centered
						.row.cards_block
							.col-sm-4
								.card_item#card_one
									.card-ico
										img(src="./images/ico/sec1_ico1.png")
									p.card-title ประกันภัยการเดินทาง
									p.card-desc ดูแลคุณตลอดการเดินทาง<br>ตลอด 24 ชม.
									a.buy_btn(href="#") ซื้อประกัน 
										img(src="./images/ico/arrow_right.png")
							.col-sm-4(style="margin-top:30px;")
								.card_item#card_two
									.card-ico
										img(src="./images/ico/sec1_ico2.png")
									p.card-title ประกันรถยนต์
									p.card-desc มั่นใจในทุกเส้นทาง พร้อม<br>บริการ ช่วยเหลือฉุกเฉิน 24 ชม.
									a.buy_btn(href="#") ซื้อประกัน 
										img(src="./images/ico/arrow_right.png")
							.col-sm-4
								.card_item#card_three
									.card-ico
										img(src="./images/ico/sec1_ico3.png")
									p.card-title ประกันภัยอัคคีภัย และทรัพย์สิน
									p.card-desc สบายใจด้วยความคุ้มครอง<br>สิ่งปลูกสร้างและทรัพย์สินภายใน
									a.buy_btn(href="#") ซื้อประกัน 
										img(src="./images/ico/arrow_right.png")

		section#sec2
			.bg_blue
			.float_block
				.row.flex
					.col-sm-12.col-md-6.side-left.hide-sm
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
					.col-sm-12.col-md-6.side-right
						.side_content_block
							.img-content_block.hide-des
								.img-content(style="background-image: url('http://placehold.it/1200x600')")
							.for_shadow
								.side_in_head-title
									p ประกันภัย<br>การเดินทาง
								.side_in_tab
									ul.nav.nav-tabs
										li.active
											a(data-toggle='tab',data-toggleTab='sec2', href='#home') 
												.tab_head 
													img(src="./images/ico/sec2_num1.png") 
													| ประกันเดินทาง<br>ต่างประเทศ
										li
											a(data-toggle='tab',data-toggleTab='sec2', href='#menu1') 
												.tab_head 
													img(src="./images/ico/sec2_num2.png") 
													| ประกันเดินทาง<br>ภายในประเทศ
									.tab-content
										#home.tab-pane.fade.in.active
											ul
												li
													p แผนประกันภัยรับรองแล้วจากสถานทูตสบายใจใช้ยื่นขอวีซ่าเชงเก้น 
												li
													p คุ้มครองครอบคลุม อุบัติเหตุและเจ็บป่วย 
												li
													p วีซ่าไม่ผ่าน คืนเงิน 100%
											p i-Insure ขอมอบแผนประกันการเดินทางต่างประเทศ ที่ดีที่สุด สำหรับคุณแผนวีซ่า แผนวีซ่าพลัส แผนวีซ่าอีลีท และแผน คอมพรีเฮนซีฟ แผนประกันการเดินทาง ที่ออกแบบให้ความคุ้มครอง เป็นไปตามเงื่อนไขที่สถานทูตกำหนดในวงเงิน 30,000 ยูโร สะดวก เมื่อขอยื่นวีซ่าในกลุ่มประเทศเชงเก้น อุ่นใจไปกับทุกทริปการเดินทาง ด้วยเครือข่ายบริการ 24 ชั่วโมง

											.showmore
												a(href="#home" data-toggle="collapse" data-target="#collapse1" ) 
													img(src="./images/ico/arrow_expand.png")
													| ดูตารางเปรียบเทียบแผนประกัน
											a.buy_btn(href="#") ซื้อประกัน 
												img(src="./images/ico/arrow_right.png")
										#menu1.tab-pane.fade
											ul
												li
													p แผนประกันภัยรับรองแล้วจากสถานทูตสบายใจใช้ยื่นขอวีซ่าเชงเก้น 2
												li
													p คุ้มครองครอบคลุม อุบัติเหตุและเจ็บป่วย 
												li
													p วีซ่าไม่ผ่าน คืนเงิน 100%
											p i-Insure ขอมอบแผนประกันการเดินทางต่างประเทศ ที่ดีที่สุด สำหรับคุณแผนวีซ่า แผนวีซ่าพลัส แผนวีซ่าอีลีท และแผน คอมพรีเฮนซีฟ แผนประกันการเดินทาง ที่ออกแบบให้ความคุ้มครอง เป็นไปตามเงื่อนไขที่สถานทูตกำหนดในวงเงิน 30,000 ยูโร สะดวก เมื่อขอยื่นวีซ่าในกลุ่มประเทศเชงเก้น อุ่นใจไปกับทุกทริปการเดินทาง ด้วยเครือข่ายบริการ 24 ชั่วโมง
											.showmore
												a(href="#menu1" data-toggle="collapse" data-target="#collapse2" ) 
													img(src="./images/ico/arrow_expand.png")
													| ดูตารางเปรียบเทียบแผนประกัน
											a.buy_btn(href="#") ซื้อประกัน 
												img(src="./images/ico/arrow_right.png")
	
		.row.for_collapse
			.col-sm-10.col-centered
				#collapse1.collapse.fromsec2
					//-
						.collapse_detail
							.row.collapse_detail_block.col-sm-12
								.col-sm-6
									p.title ประกันภัยการเดินทาง
									ul
										li
											p แผนประกันภัยรับรองแล้วจากสถานทูตสบายใจใช้ยื่นขอวีซ่าเชงเก้น 
										li
											p คุ้มครองครอบคลุม อุบัติเหตุและเจ็บป่วย 
										li
											p วีซ่าไม่ผ่าน คืนเงิน 100%
								.col-sm-6
									p i-Insure ขอมอบแผนประกันการเดินทางต่างประเทศ ที่ดีที่สุด สำหรับคุณแผนวีซ่า แผนวีซ่าพลัส แผนวีซ่าอีลีท และแผน คอมพรีเฮนซีฟ 
									p.sub แผนประกันการเดินทาง ที่ออกแบบให้ความคุ้มครอง เป็นไปตามเงื่อนไขที่สถานทูตกำหนดในวงเงิน 30,000 ยูโร สะดวก เมื่อขอยื่นวีซ่าในกลุ่มประเทศเชงเก้น อุ่นใจไปกับทุกทริปการเดินทาง ด้วยเครือข่ายบริการ 24 ชั่วโมง
					.row
						.col-sm-10.col-centered
							p.title.row-centered ประกันภัยการเดินทาง
							.showmore.dismiss
								a(href="#menu1" data-toggle="collapse" data-target="#collapse1" ) 
									img(src="./images/ico/arrow_expand.png")
									| ซ่อนตาราง
							<br>
							.plan_block.swipe
								.stickyHeader
									#customNav.customNavigation
										i.prev.fa.fa-chevron-circle-left
										i.next.fa.fa-chevron-circle-right
									.owl-carousel.disableDrag
										.item
											.plan-header
												.highlightTag
												.plan-header_text
													p
														| วีซ่าพลัส
														span 641 บาท
										.item
											.plan-header
												.plan-header_text
													p
														| วีซ่า
														span 432 บาท
								.owl-carousel
									.item
										.plan-header
											.plan-header_text
												p
													| Domestic Eco
													span 83 บาท
										.plan-table
											table.table
												tbody
													tr
														td
															| การเสียชีวิตหรืออวัยวะเนื่องจาก
															br
															|  อุบัติเหตุ ตลอด 24 ชั่วโมง
														td 2,000,000
													tr
														td การบอกเลิกการเดินทาง
														td 100,000
													tr
														td
															| ค่ารักษาพยาบาลเนื่องจาก
															br
															|  อุบัติเหตุหรือการเจ็บป่วย
														td 2,000,000
													tr
														td
															| ความรับผิดตามกฎหมาย
															br
															|  ต่อบุคคลภายนอก
														td 1,000,000
											a.read_more(href='#') รายละเอียดเพิ่ม
											button.btn.btn-primary.-center(type='submit', onclick="location.href='./step_3_in.html'") เลือก
									.item
										.plan-header
											.highlightTag
											.plan-header_text
												p
													| Domestic Care
													span 164 บาท
										.plan-table
											table.table
												tbody
													tr
														td
															| การเสียชีวิตหรืออวัยวะเนื่องจาก
															br
															|  อุบัติเหตุ ตลอด 24 ชั่วโมง
														td 2,000,000
													tr
														td การบอกเลิกการเดินทาง
														td 100,000
													tr
														td
															| ค่ารักษาพยาบาลเนื่องจาก
															br
															|  อุบัติเหตุหรือการเจ็บป่วย
														td 2,000,000
													tr
														td
															| ความรับผิดตามกฎหมาย
															br
															|  ต่อบุคคลภายนอก
														td 1,000,000
											a.read_more(href='#') รายละเอียดเพิ่ม
											button.btn.btn-primary.-center(type='submit', onclick="location.href='./step_3_in.html'") เลือก

							table.table.table-bordered
								thead
									tr
										td(rowspan='2') ความคุ้มครอง
										td(colspan='4',style="background:#BBE3FA;")
											div ผลประโยชน์ชดเชย (บาท)
									tr(style="background:#DFF1FC;")
										td แผน วีซ่า
										td แผน วีซ่าพลัส
										td แผน วีซ่าอีลีท
										td แผน คอมพรีเฮนซีพ
										
								tbody
									tr
										td.
											การเสียชีวิตหรือการสูญเสียอวัยวะ
											เนื่องจากอุบัติเหตุระหว่างเดินทาง<br>
												 - ผู้เอาประกันภัยอายุ 9 วัน - 75 ปี<br>
												 - ผู้เอาประกันภัยอายุมากกว่า 75 ปี
										td 1,500,000<br>750,000
										td 2,000,000<br>1,000,000
										td 3,000,000<br>1,500,000
										td 5,000,000<br>2,500,000

									tr
										td.
											การบอกเลิกการเดินทาง
										td -
										td 100,000
										td 200,000
										td 200,000

									tr
										td.
											การลดจำนวนวันเดินทาง
										td -
										td 100,000
										td 200,000
										td 200,000

									tr
										td.
											การสูญเสีย เสียหายของกระเป๋าเดินทาง และทรัพย์สินส่วนตัว
										td -
										td 10,000
										td 50,000
										td 50,000

									tr
										td.
											ค่ารักษาพยาบาลเนื่องจากอุบัติเหตุ และเจ็บป่วย<br>
											- ผู้เอาประกันภัยอายุ 9 วัน - 75 ปี<br>
											- ผู้เอาประกันภัยอายุมากกว่า 75 ปี
										td 1,500,000<br>750,000
										td 2,000,000<br>1,000,000
										td 3,000,000<br>1,500,000
										td 5,000,000<br>2,500,000

									tr
										td.
											ค่าใช้จ่ายในการเคลื่อนย้าย หรือส่งกลับเพื่อการรักษาพยาบาล
										td 2,000,000
										td 2,000,000
										td 3,000,000
										td 5,000,000

									tr
										td.
											ค่าใช้จ่ายในการส่งศพกลับประเทศ
										td 2,000,000
										td 2,000,000
										td 3,000,000
										td 5,000,000

									tr
										td.
											การล่าช้าของการเดินทาง
										td -
										td 10,000
										td 50,000
										td 50,000

									tr
										td.
											ความรับผิดตามกฏหมายต่อบุคคลภายนอก
										td -
										td 1,000,000
										td 2,000,000
										td 2,000,000

									tr
										td.
											การล่าช้าของกระเป๋าเดินทาง
										td -
										td -
										td -
										td 10,000

									tr
										td.
											ความรับผิดชอบต่อบัตรเครดิต
										td -
										td -
										td -
										td 10,000
							p.
								* ประกันการเดินทางต่างประเทศ ไม่คุ้มครองผู้ที่เดินทางไป หรือเดินทางผ่าน หรือเดินทางในประเทศ ซีเรีย, ปากีสถาน, อิรัก, ซูดาน, อัฟกานิสถาน, บูรูนดิ, อิริเทีย, เกาหลีเหนือ, เลบานอน, ลิเบีย, อัลจีเรีย, ไฮติ, อิสราเอล และอิหร่าน

				#collapse2.collapse.fromsec2
					p.title.row-centered ประกันภัยการเดินทาง
							.showmore.dismiss
								a(href="#menu1" data-toggle="collapse" data-target="#collapse2" ) 
									img(src="./images/ico/arrow_expand.png")
									| ซ่อนตาราง
							<br>
					table.table.table-bordered
						thead
							tr
								td(rowspan='2') ความคุ้มครอง 2
								td(colspan='4',style="background:#BBE3FA;")
									div ผลประโยชน์ชดเชย (บาท)
							tr(style="background:#DFF1FC;")
								td แผน วีซ่า
								td แผน วีซ่า พลัส
								td แผน วีซ่า อีลีท
								td แผน คอมพรีเฮนซีพ
								
						tbody
							tr
								td.
									การเสียชีวิตหรือการสูญเสียอวัยวะ
									เนื่องจากอุบัติเหตุระหว่างเดินทาง<br>
										 - ผู้เอาประกันภัยอายุ 9 วัน - 75 ปี<br>
										 - ผู้เอาประกันภัยอายุมากกว่า 75 ปี
								td 1,500,000<br>750,000
								td 2,000,000<br>1,000,000
								td 3,000,000<br>1,500,000
								td 5,000,000<br>2,500,000

							tr
								td.
									การบอกเลิกการเดินทาง
								td -
								td 100,000
								td 200,000
								td 200,000

							tr
								td.
									การลดจำนวนวันเดินทาง
								td -
								td 100,000
								td 200,000
								td 200,000

							tr
								td.
									การสูญเสีย เสียหายของกระเป๋าเดินทาง และทรัพย์สินส่วนตัว
								td -
								td 10,000
								td 50,000
								td 50,000

							tr
								td.
									ค่ารักษาพยาบาลเนื่องจากอุบัติเหตุ และเจ็บป่วย<br>
									- ผู้เอาประกันภัยอายุ 9 วัน - 75 ปี<br>
									- ผู้เอาประกันภัยอายุมากกว่า 75 ปี
								td 1,500,000<br>750,000
								td 2,000,000<br>1,000,000
								td 3,000,000<br>1,500,000
								td 5,000,000<br>2,500,000

							tr
								td.
									ค่าใช้จ่ายในการเคลื่อนย้าย หรือส่งกลับเพื่อการรักษาพยาบาล
								td 2,000,000
								td 2,000,000
								td 3,000,000
								td 5,000,000

							tr
								td.
									ค่าใช้จ่ายในการส่งศพกลับประเทศ
								td 2,000,000
								td 2,000,000
								td 3,000,000
								td 5,000,000

							tr
								td.
									การล่าช้าของการเดินทาง
								td -
								td 10,000
								td 50,000
								td 50,000

							tr
								td.
									ความรับผิดตามกฏหมายต่อบุคคลภายนอก
								td -
								td 1,000,000
								td 2,000,000
								td 2,000,000

							tr
								td.
									การล่าช้าของกระเป๋าเดินทาง
								td -
								td -
								td -
								td 10,000

							tr
								td.
									ความรับผิดชอบต่อบัตรเครดิต
								td -
								td -
								td -
								td 10,000
					p.
								* ประกันการเดินทางต่างประเทศ ไม่คุ้มครองผู้ที่เดินทางไป หรือเดินทางผ่าน หรือเดินทางในประเทศ ซีเรีย, ปากีสถาน, อิรัก, ซูดาน, อัฟกานิสถาน, บูรูนดิ, อิริเทีย, เกาหลีเหนือ, เลบานอน, ลิเบีย, อัลจีเรีย, ไฮติ, อิสราเอล และอิหร่าน
	
		section#sec3.parallax
			.bg#bg3
			.float_block.relative
				.row.flex
					.col-sm-6.side-left
						.side_content_block
							p.title ประกันภัยรถยนต์
							.detail_block
								.text_med.row
									.col-xs-2
										img(src="./images/ico/sec3_car.png")
									.col-xs-10.col-sm-10.col-md-6.-no_padding
										p  เพิ่มความอุ่นใจให้คุณทุกเส้นทาง...<br> ด้วยบริการช่วยเหลือฉุกเฉิน<br> บนท้องถนน ตลอด 24 ชั่วโมง 

								.text_med
									p ประกันภัยรถยนต์ออนไลน์ i-Insure ง่าย สะดวก รวดเร็ว พร้อมเลือกประเภทความคุ้มครองที่เหมาะกับรถยนต์ของคุณ
								.text_light
									p ประกันภัยรถยนต์ประเภท 1, 2+, 3, หรือ 3+ และเลือกซื้อความคุ้มครองเพิ่มภัยน้ำท่วม หรือประกันภัยรถยนต์ ภาคบังคับ (พ.ร.บ.)
										.showmore
											a(href="#collapse3" data-toggle="collapse" data-target="#collapse3" )
												img(src="./images/ico/arrow_expand.png")
												| ดูตารางเปรียบเทียบแผนประกัน
							a.buy_btn(href="#") ซื้อประกัน 
								img(src="./images/ico/arrow_right.png")
						
					.col-sm-6.side-right
						.img-content(style="background-image: url('http://placehold.it/1200x600')")

		.row.for_collapse
			.col-sm-10.col-centered
				#collapse3.collapse.fromsec3
					.row
						.col-sm-10.col-centered
							.side_in_tab
								ul.nav.nav-tabs
									li.active
										a(data-toggle='tab', href='#sec3menu1') 
											.tab_head ประเภท 1
									li
										a(data-toggle='tab', href='#sec3menu2') 
											.tab_head ประเภท 2 พลัส
									li
										a(data-toggle='tab', href='#sec3menu3') 
											.tab_head ประเภท 3
									li
										a(data-toggle='tab', href='#sec3menu4') 
											.tab_head ประเภท 3 พลัส
									li
										a(data-toggle='tab', href='#sec3menu5') 
											.tab_head พ.ร.บ.
								.tab-content
									#sec3menu1.tab-pane.fade.in.active
										table.table.table-bordered
											thead
												tr
													td(colspan='2') 
														p.text-med ประกันภัยรถยนต์ประเภทที่ 1
														p คุ้มครองความเสียหายครอบตลุมมากที่สุด
											tbody
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองความเสียหายต่อตัวรถยนต์ที่เกิดจากการชนหรือรถพลิกคว่ำ
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td ภัยธรรมชาติ รถสูญหายและไฟไหม้ 
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองชีวิตร่างกายของผู้ขับขี่รวมถึงผู้โดยสาร
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองครองทรัพย์สิน ชีวิตและร่างกายของคู่กรณีที่เป็นบุคคลภายนอก
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td เหมาะสำหรับรถยนต์จดทะเบียนใหม่และรถยนต์ที่มีอายุการใช้งานไม่เกิน 7 ปี
									#sec3menu2.tab-pane.fade.in
										table.table.table-bordered
											thead
												tr
													td(colspan='2') 
														p.text-med ประกันภัยรถยนต์ประเภทที่ 2
														p คุ้มครองความเสียหายครอบตลุมมากที่สุด
											tbody
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองความเสียหายต่อตัวรถยนต์ที่เกิดจากการชนหรือรถพลิกคว่ำ
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td ภัยธรรมชาติ รถสูญหายและไฟไหม้ 
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองชีวิตร่างกายของผู้ขับขี่รวมถึงผู้โดยสาร
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองครองทรัพย์สิน ชีวิตและร่างกายของคู่กรณีที่เป็นบุคคลภายนอก
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td เหมาะสำหรับรถยนต์จดทะเบียนใหม่และรถยนต์ที่มีอายุการใช้งานไม่เกิน 7 ปี
									#sec3menu3.tab-pane.fade.in
										table.table.table-bordered
											thead
												tr
													td(colspan='2') 
														p.text-med ประกันภัยรถยนต์ประเภทที่ 3
														p คุ้มครองความเสียหายครอบตลุมมากที่สุด
											tbody
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองความเสียหายต่อตัวรถยนต์ที่เกิดจากการชนหรือรถพลิกคว่ำ
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td ภัยธรรมชาติ รถสูญหายและไฟไหม้ 
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองชีวิตร่างกายของผู้ขับขี่รวมถึงผู้โดยสาร
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองครองทรัพย์สิน ชีวิตและร่างกายของคู่กรณีที่เป็นบุคคลภายนอก
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td เหมาะสำหรับรถยนต์จดทะเบียนใหม่และรถยนต์ที่มีอายุการใช้งานไม่เกิน 7 ปี
									#sec3menu4.tab-pane.fade.in
										table.table.table-bordered
											thead
												tr
													td(colspan='2') 
														p.text-med ประกันภัยรถยนต์ประเภทที่ 4
														p คุ้มครองความเสียหายครอบตลุมมากที่สุด
											tbody
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองความเสียหายต่อตัวรถยนต์ที่เกิดจากการชนหรือรถพลิกคว่ำ
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td ภัยธรรมชาติ รถสูญหายและไฟไหม้ 
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองชีวิตร่างกายของผู้ขับขี่รวมถึงผู้โดยสาร
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองครองทรัพย์สิน ชีวิตและร่างกายของคู่กรณีที่เป็นบุคคลภายนอก
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td เหมาะสำหรับรถยนต์จดทะเบียนใหม่และรถยนต์ที่มีอายุการใช้งานไม่เกิน 7 ปี
									#sec3menu5.tab-pane.fade.in
										table.table.table-bordered
											thead
												tr
													td(colspan='2') 
														p.text-med ประกันภัยรถยนต์ประเภทที่ 5
														p คุ้มครองความเสียหายครอบตลุมมากที่สุด
											tbody
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองความเสียหายต่อตัวรถยนต์ที่เกิดจากการชนหรือรถพลิกคว่ำ
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td ภัยธรรมชาติ รถสูญหายและไฟไหม้ 
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองชีวิตร่างกายของผู้ขับขี่รวมถึงผู้โดยสาร
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td คุ้มครองครองทรัพย์สิน ชีวิตและร่างกายของคู่กรณีที่เป็นบุคคลภายนอก
												tr
													td
														img(src="./images/ico/check.png", alt="")
													td เหมาะสำหรับรถยนต์จดทะเบียนใหม่และรถยนต์ที่มีอายุการใช้งานไม่เกิน 7 ปี
						
		section#sec4
			.float_block
				.row.flex
					.col-xs-12.side-center
						.side_content_block
							img.main_ico(src="./images/ico/sec4_ico1.png", alt="")
							p.title ประกันอัคคีภัยและทรัพย์สิน
							.text_med
								p แผนประกันภัยทรัพย์สินภายในบ้าน Happy Home Protect คุ้มครองความสูญเสีย หรือความเสียหาย ของทรัพย์สินภายในบ้าน
							.text_light
								p ที่เกิดจาก ไฟไหม้ ฟ้าผ่า ภัยระเบิด ยวดยานพาหนะ อากาศยาน ภัยเนื่องจากน้ำ ลมพายุ แผ่นดินไหว ลูกเห็บ และน้ำท่วม รวมถึง คุ้มครองความสูญเสียหรือความเสียหายของเครื่องใช้ไฟฟ้า ทั้งยัง ครอบคุลมถึงความสูญเสียหรือเสียหายของทรัพย์สินมีค่าภายในบ้าน อันเนื่องจากถูกโจรกรรม เช่น อัญมณี เครื่องประดับ นาฬิกา โทรศัพท์มือถือ คอมพิวเตอร์พกพา ฯลฯ และความรับผิด ต่อบุคคลภายนอก

		section#sec5.parallax
			.bg#bg5
			.row
				.col-sm-10.col-lg-6.col-centered
					p.title หลักฐานการรับประกันภัย
					.text_light
						p.
							การซื้อประกันการเดินทางผ่านระบบออนไลน์ ระบบจะส่งตารางกรมธรรม์ประกันภัย
							และเงื่อนไขความคุ้มครองให้ทางอีเมลโดยอัตโนมัติ และสามารถพิมพ์ตารางกรมธรรม์
							แล้วนำไปยื่นขอวีซ่าเข้าประเทศในกลุ่มเชงเก้นได้ทันที ส่วนประกันภัยผ่านระบบออนไลน์ประเภทอื่นๆ ระบบจะจัดส่งสำเนาตารางกรมธรรม์ประกันภัยและเงื่อนไขความคุ้มครองให้ทางอีเมลโดยอัตโนมัติ และทำการจัดส่งกรมธรรม์ฉบับจริงให้ทางไปรษณีย์
		section#sec6
				.row
					.col-xs-12.col-centered
						p.title ช่องทางการชำระเงินค่าเบี้ยประกันภัย
					.col-sm-10.col-centered
						.col-sm-4.sec6_item
							img(src="./images/ico/sec6_ico1.png")
							p กรณีทำรายการผ่านระบบออนไลน์ สามารถชำระ ค่าเบี้ยประกันภัย ด้วยบัตรเครดิต ประเภทวีซ่า มาสเตอร์ หรือเจซีบี
						.col-sm-4.sec6_item
							img(src="./images/ico/sec6_ico2.png")
							p ชำระผ่านเคาน์เตอร์ ธนาคารกรุงไทย ธนาคารกรุงเทพ ธนาคารกรุงศรีอยุธยา ธนาคากสิกรไทย ธนาคารธนชาต ธนาคารไทยพาณิชย์ ธนาคารทหารไทย หรือ ธนาคารยูโอบี เข้าบัญชี บริษัท กรุงไทยพานิชประกันภัย จำกัด (มหาชน) 
						.col-sm-4.sec6_item
							img(src="./images/ico/sec6_ico3.png")
							p ชำระผ่านตู้ ATM ธนาคารกรุงไทย ธนาคารกรุงเทพ ธนาคารกรุงศรีอยุธยา ธนาคากสิกรไทย ธนาคารธนชาต ธนาคารไทยพาณิชย์ ธนาคารทหารไทย หรือ ธนาคารยูโอบี เข้าบัญชี บริษัท กรุงไทยพานิชประกันภัย จำกัด (มหาชน)
		section#sec7
				.row
					.col-sm-10.col-centered
						.row(style="text-align: center;")
							.col-sm-6.sec7_item
								.row(style="display:inline-block;")
									.col-xs-1
										img(src="./images/ico/contact_phone.png")
									.col-xs-11
										p สอบถามข้อมูลทั่วไป
										p อีเมล 
											a(href="mailto:i-insure@kpi.co.th ") i-insure@kpi.co.th 
										p.contect 0 2624 1111 
											span ต่อ 
											| 4774
										p จันทร์-ศุกร์ เวลา 8.30-16.30 น.
							.col-sm-6.sec7_item
								.row(style="display:inline-block;")
									.col-xs-1
										img(src="./images/ico/contact_person.png")
									.col-xs-11
										p สอบถามข้อมูลสินไหมทั่วไป
										p อีเมล 
											a(href="mailto:travel@kpi.co.th") travel@kpi.co.th
										p.contect 0 2624 1111 
											span ต่อ 
											| 4932
										p จันทร์-ศุกร์ เวลา 8.30-16.30 น.
							//- .col-sm-4.sec7_item
							//-   .col-xs-2
							//-     img(src="http://placehold.it/300x300")
							//-   .col-xs-10
							//-     p บริการช่วยเหลือ<br>ฉุกเฉิน 24 ชั่วโมง
							//-     p.contect 02-3054474


		//- end content
		include ./layout/_footer

block js
	//- script here