extends ./layout/_base
block meta
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst
	//- script here

block body
	.wrapper
		include ./layout/_header
		section#sec1.parallax
			.bg#bg1
			.content_block
				.row.head-title
					.col-sm-6.col-xs-12
						h1.title Posuere mollis <br>
						p.desc Viverra interdum mi magna. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis
				.row.cards_block
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v

		section#sec2
			.float_block
				.row.flex
					.col-sm-6.side-left
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
					.col-sm-6.side-right
						.side_content_block
							.side_in_head-title
								p ประกันภัย<br>การเดินทาง
							.side_in_tab
								ul.nav.nav-tabs
									li.active
										a(data-toggle='tab', href='#home') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ต่างประเทศ
									li
										a(data-toggle='tab', href='#menu1') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ภายในประเทศ
								.tab-content
									#home.tab-pane.fade.in.active
										ul
											li
												p 111111
											li
												p 222222
											li
												p 333333
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae tenetur magni veniam quos alias ullam perferendis, itaque minima inventore praesentium impedit nihil quia ab, culpa quam nam. Harum, cumque.

										.showmore
											a(href="#") ดูตารางเปรียบเทียบแผนประกัน
										a.buy_btn(href="#") ซื้อประกัน v
									#menu1.tab-pane.fade
										h3 Menu 1
										p
											| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
		section#sec3.parallax
			.bg#bg3
			.float_block.relative
				.row.flex
					.col-sm-6.side-left
						.side_content_block
							p.title ประกันภัยรถยนต์
							.side_in_tab
								ul.nav.nav-tabs
									li.active
										a(data-toggle='tab', href='#home') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ต่างประเทศ
									li
										a(data-toggle='tab', href='#menu1') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ภายในประเทศ
								.tab-content
									#home.tab-pane.fade.in.active
										ul
											li
												p 111111
											li
												p 222222
											li
												p 333333
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae tenetur magni veniam quos alias ullam perferendis, itaque minima inventore praesentium impedit nihil quia ab, culpa quam nam. Harum, cumque.

										.showmore
											a(href="#") ดูตารางเปรียบเทียบแผนประกัน
							a.buy_btn(href="#") ซื้อประกัน v
						
					.col-sm-6.side-right
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
						
		div(style='position:relative;')
			div(style='color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;')
				p Scroll up and down to really get the feeling of how Parallax Scrolling works.
		section.sec5.parallax
			.caption
				span.border(style='background-color:transparent;font-size:25px;color: #f7f7f7;') SCROLL UP
		div(style='position:relative;')
			div(style='color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;')
				p Scroll up and down to really get the feeling of how Parallax Scrolling works.



		//- end content
		include ./layout/_footer

block js
	//- script here