extends ./layout/_base
block meta
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
block var
	-var currentPage = "home"

block title
	title hi
	
block jsFirst
	//- script here

block body
	.wrapper
		include ./layout/_header
		section#sec1.parallax
			.bg#bg1
			.content_block
				.row.head-title
					.col-sm-6.col-xs-12
						h1.title Posuere mollis <br>
						p.desc Viverra interdum mi magna. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis
				.row.cards_block
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v
					.col-sm-3
						.card_item
							img(src="http://placehold.it/500x500")
							p.card-title ประกันภัยการเดินทาง
							p.card-desc ดูแลคุณทุกการเดินทาง<br> ตลอด 24 ชม.
							a.buy_btn(href="#") ซื้อประกัน v

		section#sec2
			.float_block
				.row.flex
					.col-sm-6.side-left
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
					.col-sm-6.side-right
						.side_content_block
							.side_in_head-title
								p ประกันภัย<br>การเดินทาง
							.side_in_tab
								ul.nav.nav-tabs
									li.active
										a(data-toggle='tab', href='#home') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ต่างประเทศ
									li
										a(data-toggle='tab', href='#menu1') 
											.tab_head 
												img(src="http://placehold.it/400x400") 
												| ประกันเดินทาง<br>ภายในประเทศ
								.tab-content
									#home.tab-pane.fade.in.active
										ul
											li
												p 111111
											li
												p 222222
											li
												p 333333
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas molestiae tenetur magni veniam quos alias ullam perferendis, itaque minima inventore praesentium impedit nihil quia ab, culpa quam nam. Harum, cumque.

										.showmore
											a(href="#") ดูตารางเปรียบเทียบแผนประกัน
										a.buy_btn(href="#") ซื้อประกัน v
									#menu1.tab-pane.fade
										h3 Menu 1
										p
											| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
		section#sec3.parallax
			.bg#bg3
			.float_block.relative
				.row.flex
					.col-sm-6.side-left
						.side_content_block
							p.title ประกันภัยรถยนต์
							.detail_block
								.text_med.row
									.col-xs-2
										img(src="http://placehold.it/100x200")
									.col-xs-10
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, aperiam quas. Officiis omnis ut
								.text_med
									p ควิกเทคโนแครตตุ๊กตุ๊ก วีน แตงโมแอ็กชั่นโรลออนอพาร์ทเมนท์ทัวร์นาเมนท์ โหงวเมี่ยงคำ สเตเดียม โอเพ่นไฮไลท์สคริปต์ชะโนดพันธกิจ โอวัลติน เลิฟ แอ๊บแบ๊ว เรซินมิวสิคชีส
								.text_light
									p โอวัลติน เลิฟ แอ๊บแบ๊ว เรซินมิวสิคชีสควิกเทคโนแครตตุ๊กตุ๊ก วีน แตงโมแอ็กชั่นโรลออนอพาร์ทเมนท์ทัวร์นาเมนท์ โหงวเมี่ยงคำ สเตเดียม โอเพ่นไฮไลท์สคริปต์ชะโนดพันธกิจ 

										.showmore
											a(href="#") ดูตารางเปรียบเทียบแผนประกัน
							a.buy_btn(href="#") ซื้อประกัน v
						
					.col-sm-6.side-right
						.img-content(style="background-image: url('http://placehold.it/1200x600')")
						
		section#sec4
			.float_block
				.row.flex
					.col-xs-12.side-center
						.side_content_block
							img.main_ico(src="http://placehold.it/600x600", alt="")
							p.title ประกันภัยรถยนต์
							.text_med
								p ฮวงจุ้ยเทคโนแครต คอลเล็กชั่น แอปเปิลรีทัชวิทย์เยอร์บีราไฟแนนซ์ เชฟพุดดิ้ง ตรวจสอบ เอ๋อมะกัน เวอร์ รันเวย์คอรัปชันศึกษาศาสตร์ คันถธุระ ซี้ชะโนด เก๊ะเซอร์ไพรส์
							.text_light
								p บิร์นรีพอร์ท บริกรโชว์รูมไคลแม็กซ์แม็กกาซีน นอมินีดยุก เทอร์โบไลน์ ง่าวเรซิน แกงค์เย้ว เบอร์รี ดั๊มพ์ เซอร์วิสฉลุยเพนกวินวิดีโอเอ็กซ์โป โทรโข่ง เอาต์สติ๊กเกอร์ หลวงพี่ ฟลุทมาร์เก็ตไอซียู ซาดิสม์ ขั้นตอนมอคค่าโฮลวีต เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด 

		section#sec5.parallax
			.bg#bg5
			.row
				.col-sm-7.col-centered
					p.title ประกันภัยรถยนต์
					.text_light
						p บิร์นรีพอร์ท บริกรโชว์รูมไคลแม็กซ์แม็กกาซีน นอมินีดยุก เทอร์โบไลน์ ง่าวเรซิน แกงค์เย้ว เบอร์รี ดั๊มพ์ เซอร์วิสฉลุยเพนกวินวิดีโอเอ็กซ์โป โทรโข่ง เอาต์สติ๊กเกอร์ หลวงพี่ ฟลุทมาร์เก็ตไอซียู ซาดิสม์ ขั้นตอนมอคค่าโฮลวีต เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด วิดีโอเอ็กซ์โป โทรโข่ง เอาต์สติ๊กเกอร์ หลวงพี่ ฟลุทมาร์เก็ตไอซียู ซาดิสม์ ขั้นตอนมอคค่าโฮลวีต เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด 
		section#sec6
				.row
					.col-xs-12.col-centered
						p.title ประกันภัยรถยนต์
					.col-sm-10.col-centered
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด  
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอรเพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น บอกซ์ลีเมอร์ 
						.col-sm-4.sec6_item
							img(src="http://placehold.it/600x600")
							p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น พียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ บอกซ์ลีเมอร์ วาฟเฟิลแยมโรลแบด 
		section#sec7
				.row
					.col-sm-10.col-centered
						.col-sm-4.sec7_item
							.col-xs-2
								img(src="http://placehold.it/300x300")
							.col-xs-10
								p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น
								p.contect 02-3950204 
									span ต่อ 
									| 4775
						.col-sm-4.sec7_item
							.col-xs-2
								img(src="http://placehold.it/300x300")
							.col-xs-10
								p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น
								p.contect 02-3950204 
									span ต่อ 
									| 4775
						.col-sm-4.sec7_item
							.col-xs-2
								img(src="http://placehold.it/300x300")
							.col-xs-10
								p เพียวพาร์แกสโซฮอล์ลอจิสติกส์หลวงพี่ แกรนด์ดัมพ์แครกเกอร์คอลเล็กชั่น
								p.contect 02-3950204 
									span ต่อ 
									| 4775
							



		//- end content
		include ./layout/_footer

block js
	//- script here