 // Footer //////////////////////////////////
 footer {
     padding: 15px;
     color: $mainblue;
     font-family: kanda;
     img {
         max-width: 220px;
         min-width: 175px;
         width: 50%;
         @media #{$md} {
             text-align: center;
         }
     }
     p {
         padding-top: 8px;
         color: $mainblue;
         white-space: nowrap;
          font-size: 1.5em;
         @media #{$md} {
             font-size: 1.2em;
             text-align: center;
         }
     }
     span {
         font-family: omnes;
         font-size: 1em;
     }
     .right {
         @media #{$md} {
             text-align: center !important;
         }
     }
 }
 
 .right {
     text-align: right;
 }
 
 // End Footer //////////////////////////////////
