 // Footer //////////////////////////////////
 footer {
     padding: 15px;
     color: $mainblue;
     font-family: prompt_l;
     img {
         max-width: 400px;
         width: 50%;
     }
     p{
     	padding-top: 8px;
     }
 }
 
 .right {
     text-align: right;
 }
 
 // End Footer //////////////////////////////////
