 // Footer //////////////////////////////////
 footer {
     padding: 15px;
     color: $mainblue;
     font-family: kanda;
     img {
         max-width: 400px;
         width: 50%;
     }
     p {
         padding-top: 8px;
     }
     span {
         font-family: omnes;
         font-size: 1em;
     }
 }
 
 .right {
     text-align: right;
 }
 
 // End Footer //////////////////////////////////
