 // Header //////////////////////////////////
 .navbar {
     padding: 5px 0;
     border-radius: 0!important;
     margin-bottom: 0;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 99999;
     width: 100%;
     max-width: 1366px;
     margin: auto;
     a {
         font-family: 'kanda_b';
         font-size: 1.5em;
         &.langChange {
             // border: 1px solid #fff;
             border-radius: 50%;
             padding: 10px;
             margin-top: 5px;
             max-width: 43px;
             max-height: 43px;
             border: 1px solid $mainblue;
             color: $mainblue !important;
             &:hover {
                 border: 1px solid #fff;
                 color: #fff;
             }
         }
     }
     li {
         display: inline-block;
         @media #{$md} {
             display: block;
         }
         &:nth-child(-n+3) {
             a {
                 white-space: nowrap;
                 vertical-align: middle;
                 display: inline-block;
                 @media #{$md} {
                     display: block;
                 }
             }
             &:after {
                 content: " ";
                 display: inline-block;
                 width: 1px;
                 height: 20px;
                 background: $mainblue;
                 vertical-align: middle;
                 @media #{$md} {
                     display: none;
                 }
             }
         }
     }
     li:last-child {
         padding: 0 15px;
     }
     // @media #{$md} {
     //     padding: 10px 0;
     //     position: fixed;
     //     width: 100%;
     //     z-index: 9999;
     // }
 }
 
 // .navbar-header {
 //     display: inline;
 //     float: none;
 // }
 .navbar-brand_block {
     white-space: nowrap;
     display: inline-block;
     a {
         display: inline;
     }
 }
 
 .navbar-brand {
     width: 130px;
     float: left;
     height: auto;
     padding: 7px 0px 0 25px;
     font-size: 18px;
     line-height: 20px;
     @media #{$md} {
         padding: 5px 0px 0 30px;
     }
     @media #{$lg} {
         padding: 7px 0px 0 10px;
     }
     img {
         width: 100%;
     }
     &.second {
         //margin-left: -5px !important;
         padding: 4px 0;
         @media #{$lg} {
             padding: 7px 0px 0 0px;
         }
     }
 }
 .navbar>.container .navbar-brand{
    margin-left: 0;
 }
 
 .navbar-collapse {
     width: 100%;
 }
 
 .navbar-default .navbar-nav>li>a {
     color: $darkblue;
 }
 
 .navbar-default .navbar-nav>li>a:hover {
     color: $mainblue;
 }
 
 .navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .navbar-nav>.active>a:hover {
     background-color: transparent;
     color: $mainblue;
 }
 
 .navbar-default {
     background: transparent;
     //background-color: rgba(255, 255, 255, .8);
     border: none;
     .navbar-toggle {
         border: none;
         &:focus,
         &:hover {
             background: transparent;
             .icon-bar {
                 background: $mainblue;
             }
         }
         .icon-bar {
             background-color: $darkblue;
         }
         @media (max-width: 500px) {
             // margin-top: 0;
         }
     }
 }
 /* Bootstrap navbar collapse media-query */
 
 @media (max-width: 890px) {
     .navbar-header {
         float: none;
     }
     .navbar-left,
     .navbar-right {
         float: none !important;
     }
     .navbar-toggle {
         display: block;
     }
     .navbar-collapse {
         border-top: 1px solid transparent;
         box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
         background-color: #fff;
         width: inherit !important;
     }
     .navbar-fixed-top {
         top: 0;
         border-width: 0 0 1px;
     }
     .navbar-collapse.collapse {
         display: none!important;
     }
     .navbar-nav {
         float: none!important;
         margin-top: 7.5px;
     }
     .navbar-nav>li {
         float: none;
     }
     .navbar-nav>li>a {
         padding-top: 10px;
         padding-bottom: 10px;
     }
     .navbar-default .navbar-nav>li>a:focus,
     .navbar-default .navbar-nav>li>a:hover {
         color: $mainblue !important;
     }
     .collapse.in {
         display: block !important;
     }
 }
 
 // End Header //////////////////////////////////
