     // Content //////////////////////////////////
     section {
         position: relative;
         color: #777;
         background-color: white;
         text-align: center;
         padding: 7% 0;
         text-align: justify;
         @media #{$md} {
             padding: 5% 0 2%;
         }
         .bg {
             position: absolute;
             // background-attachment: fixed;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             width: 100%;
             height: 100%;
             left: 0;
             right: 0;
             top: 0;
             margin: auto;
         }
         &#sec1 {
             min-height: 400px;
             padding: 10% 0 17%;
             .bg {
                 background-image: url("../images/bg1.jpg");
             }
         }
         &#sec2,
         &#sec4,
         &#sec6 {
             min-height: 450px;
         }
         &#sec3 {
             .bg {
                 background-image: url("../images/bg2.jpg");
                 @media #{$md} {
                     height: 70%;
                 }
             }
             min-height: 400px;
             padding: 7% 0 8%;
         }
         &#sec5 {
             .bg {
                 background-image: url("../images/bg3.jpg");
             }
             padding: 8% 15px;
             @media #{$md} {
                 padding: 16% 15px;
             }
         }
         &#sec6 {
             min-height: 400px;
             padding: 3% 15px 4%;
         }
         &#sec7 {
             background: $mainblue;
             padding: 2% 15px;
         }
     }
     
     .parallax {
         position: relative;
         //background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
     }
     
     .content_block {
         width: 80%;
         display: block;
         margin: 0 auto;
         position: relative;
         max-width: 1280px;
         //overflow: hidden;
         @media #{$lg} {
             width: 100%;
         }
         @media #{$md} {
             width: 80%;
         }
     }
     
     .head-title {
         color: #fff;
         margin: auto;
         margin-top: -2em;
         @media #{$lg} {
             width: 80%;
         }
         @media #{$md} {
             margin-top: 0em;
             width: 100%;
             text-align: center;
         }
         .title {
             margin: .1em 0;
             font-size: 5em;
             font-family: kanda_b;
             @media #{$md} {
                 margin: 1em 0 .2em;
                 font-size: 2.7em;
             }
             @media #{$md-500} {
                 font-size: 2.5em;
             }
         }
         .desc {
             color: #fff;
             font-size: 2.5em;
             font-family: kanda_b;
             @media #{$md-500} {
                 font-size: 1.6em;
             }
         }
     }
     
     .caption {
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         text-align: center;
         color: #000;
     }
     
     .caption span.border {
         background-color: #111;
         color: #fff;
         padding: 18px;
         font-size: 25px;
         letter-spacing: 10px;
     }
     
     .cards_block {
         margin-top: 4rem;
         @media #{$md} {
             .col-sm-4 {
                 max-width: 320px;
                 margin: 0 auto 55px;
             }
         }
     }
     
     .card_item {
         position: relative;
         background: rgba(255, 255, 255, .9);
         padding: 15px;
         text-align: center;
         min-height: 240px;
         border-bottom-right-radius: 7px;
         border-bottom-left-radius: 7px;
         opacity: 0;
         max-width: 270px;
         .card-ico {
             width: 100px;
             height: 100px;
             position: relative;
             text-align: center;
             margin: 0 auto;
             img {
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 width: 70%;
                 height: auto;
                 vertical-align: middle;
                 margin: 0 auto;
             }
         }
         .card-title {
             font-family: 'kanda_b';
             margin-top: 15px;
             font-size: 2em;
         }
         .card-desc {
             font-family: 'kanda';
             color: #6D6E71;
         }
     }
     
     .buy_btn {
         font-family: 'kanda';
         position: absolute;
         z-index: 1;
         bottom: -25px;
         right: -17px;
         background: $mainblue;
         color: #fff;
         padding: 10px 20px;
         white-space: nowrap;
         text-decoration: none !important;
         &.center {
             right: 0 !important;
             margin: auto;
             left: 0;
             max-width: 150px;
         }
         img {
             width: 13px;
             height: 13px;
             display: inline-block;
             vertical-align: middle;
         }
     }
     
     .flex {
         display: flex;
         flex-direction: row;
         @media #{$md} {
             flex-direction: column;
         }
     }
     
     .float_block {
         width: 82%;
         padding: 15px 35px;
         display: block;
         position: absolute;
         left: 0;
         top: -35%;
         right: 0;
         text-align: center;
         color: #000;
         margin: auto;
         min-height: 400px;
         max-width: 1280px;
         @media #{$lg} {
             width: 100%;
         }
         @media #{$md} {
             padding: 15px 25px;
             position: relative;
             margin-top: -15%;
         }
         &.relative {
             position: relative;
         }
         .side-left {
             display: flex;
             padding: 5rem 0 1rem;
             flex-direction: column;
         }
         .side-right {
             display: flex;
             flex-direction: column;
             background: #fff;
             min-height: 350px;
             box-shadow: 0px 6px 18px 1px rgba(107, 107, 107, .3);
             padding: 0;
             @media #{$md} {
                 box-shadow: 0px 6px 18px 1px rgba(107, 107, 107, .2);
             }
         }
         .side-center {
             background: #fff;
             min-height: 350px;
             box-shadow: 0px 6px 18px 1px rgba(107, 107, 107, .3);
             padding: 30px 30px 50px;
             text-align: center;
             @media #{$md} {
                 box-shadow: 0px 6px 18px 1px rgba(107, 107, 107, .2);
             }
             .side_content_block {
                 width: 72%;
                 margin: 0 auto;
                 @media #{$md-500} {
                     width: 90%;
                 }
             }
             .main_ico {
                 width: 100%;
                 max-width: 130px;
             }
             .title {
                 font-size: 3em;
                 margin: 20px 0 0px;
             }
         }
         .buy_btn {
             right: 20px;
         }
     }
     
     .side_content_block {
         position: relative;
         background-color: #fff;
         .title {
             font-size: 3em;
         }
     }
     
     #sec2 {
         margin-bottom: 30px;
         min-height: 600px !important;
         .float_block {
             top: 0;
             padding-top: 0;
             @media #{$md} {
                 margin-top: -7%;
             }
         }
         .bg_blue {
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100px;
             background: $darkblue;
         }
         .side_content_block {
             @media #{$md} {
                 background: transparent;
                 .img-content_block {
                     padding-top: 65%;
                     .img-content {
                         width: 100%;
                         position: absolute;
                         top: -20%;
                         left: 0;
                         left: 0;
                         right: 0;
                         text-align: center;
                         margin: 0 auto;
                     }
                 }
                 .for_shadow {
                     box-shadow: -1px 6px 18px 1px rgba(107, 107, 107, .2);
                     background: #fff;
                     padding-top: 20px;
                 }
             }
             @media #{$md} {
                 .img-content_block .img-content {
                     top: 0%;
                 }
             }
         }
         .float_block .side-right {
             @media #{$md-500} {
                 box-shadow: none;
                 background: transparent;
             }
         }
         .side_in_tab .tab-content {
             min-height: 303px;
         }
     }
     
     .img-content_block {
         position: relative;
         padding: 15px 15px 25px;
     }
     
     #sec3 {
         @media #{$md} {
             padding: 7% 0 0 !important;
         }
         .float_block {
             @media #{$md} {
                 margin-top: 0;
                 padding: 15px 15px 0;
             }
             .side-left {
                 display: flex;
                 flex-direction: column;
                 padding: 2rem 0 2rem;
                 @media #{$md} {
                     padding: 2rem 15px 0rem;
                 }
             }
             .side-right {
                 display: flex;
                 box-shadow: 0px 6px 18px 1px rgba(107, 107, 107, .3);
                 padding: 0;
                 @media #{$md} {
                     .img-content {
                         padding-top: 72%;
                     }
                 }
                 @media #{$md-500} {
                     .img-content {
                         padding-top: 85%;
                     }
                 }
             }
         }
         .side_content_block {
             padding: 10% 17%;
             text-align: left;
             @media #{$md-500} {
                 padding: 10% 20px;
             }
         }
     }
     
     .img-content {
         width: 100%;
         height: 100%;
         // padding-top: 80%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         display: flex;
         flex: 1;
     }
     
     .side_in_head-title {
         padding: 4rem 15px;
         color: #000;
         text-align: left;
         font-size: 2.5rem;
         background-image: url('../images/ico/sec2_world.png');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: left;
         p {
             font-family: kanda_exb;
             margin-left: 4rem;
             line-height: 1em;
         }
     }
     
     .nav-tabs>li>a {
         margin-right: 0px;
         border-bottom: none !important;
         @media #{$md} {
             padding: 10px 0 !important;
         }
     }
     
     .nav-tabs {
         border-bottom: none;
     }
     
     .side_in_tab {
         margin-top: 15px;
         position: relative;
         .tab_head {
             font-family: kanda_b;
             color: #6D6E71;
             width: 80%;
             text-align: left;
             margin: 0 auto;
             line-height: 1em;
             font-size: .9em;
             img {
                 width: 35px;
                 height: 35px;
                 float: left;
                 display: inline-block;
                 margin-right: 10px;
                 margin-top: 3px;
                 @media #{$md} {
                     display: block;
                     float: none;
                     margin-bottom: 5px;
                 }
             }
         }
         .nav-tabs li {
             width: 50%;
             border-radius: 0;
             &.active {
                 a {
                     background: #fff !important;
                     border-top: none;
                     border-bottom: none;
                     color: $darkgray;
                     box-shadow: 1px -10px 10px -6px rgba(120, 120, 120, 0.1);
                     padding: 10px 15px;
                     @media #{$md} {
                         padding: 10px 0;
                     }
                 }
                 .tab_head {
                     font-family: kanda_exb;
                 }
             }
             a {
                 border-radius: 0;
                 background: $lightgray;
                 color: $gray_secondary;
             }
         }
         .tab-content {
             padding: 30px;
             text-align: left;
             @media #{$md} {
                 padding: 15px;
             }
         }
     }
     
     .tab-content {
         font-family: 'kanda';
         color: #6D6E71;
         ul {
             list-style-position: inside;
             padding-left: 0;
             color: $mainblue;
             p {
                 color: $darkgray;
                 display: inline;
             }
         }
         li {}
     }
     
     .showmore {
         margin-top: 2rem;
         margin-bottom: 1em;
         cursor: pointer;
         a {
             font-family: 'kanda_exb';
             color: $darkgray;
             text-decoration: none;
             &:hover {
                 color: $mainblue;
             }
             img {
                 padding: 1px;
                 box-sizing: border-box;
                 width: 28px;
                 height: 28px;
                 margin-right: 10px;
             }
         }
         &.dismiss {
             float: right;
             margin-top: 0rem;
             margin-bottom: 2rem;
             img {
                 transform: rotate(180deg);
             }
         }
     }
     
     .detail_block {}
     
     .title {
         font-family: 'kanda_exb';
         font-size: 3em;
         margin: 20px 0;
     }
     
     .text_med {
         padding: 15px 0;
         img {
             width: 100%;
             min-width: 30px;
         }
         p {
             font-family: kanda_exb;
         }
     }
     
     .text_light {
         p {
             font-family: kanda;
             color: #6D6E71;
         }
     }
     
     #sec4 {
         min-height: 400px !important;
         @media #{$md} {
             margin-top: -2px;
             padding: 5% 0 10%;
         }
         .float_block {
             top: -30%;
             @media #{$md} {
                 margin-top: 0;
             }
         }
         .side-center {
             border-top: 15px solid $mainblue;
         }
     }
     
     #sec5 {
         p {
             text-align: center;
             color: #fff;
             line-height: 1.5em;
         }
         .text_light p {
             font-size: 1.8em;
         }
         .row > div {
             @media #{$md} {
                 width: 80%;
             }
             @media #{$md-500} {
                 width: 90%;
             }
         }
     }
     
     #sec6 {
         text-align: center;
         & > .row {
             max-width: 1280px;
             margin: auto;
         }
         .sec6_item {
             padding: 0 40px;
             @media #{$lg} {
                 padding: 0 15px;
             }
             @media #{$md} {
                 padding: 15px 15%;
             }
             @media #{$md-500} {
                 padding: 15px 8%;
             }
             img {
                 width: 100%;
                 max-width: 120px;
                 display: block;
                 margin: 25px auto 35px;
             }
             p {
                 font-family: kanda_b;
             }
         }
     }
     
     #sec7 {
         & > .row {
             max-width: 1280px;
             margin: auto;
         }
         @media #{$md-500} {
             padding: 10% 15px !important;
         }
         .sec7_item {
             padding: 0 2%;
             @media #{$md} {
                 padding: 0 10%;
                 float: none;
                 margin: auto;
             }
             &:first-child {
                 @media #{$md} {
                     padding-bottom: 20px;
                 }
             }
             img {
                 width: 100%;
                 width: 25px;
                 display: block;
                 padding-top: 10px;
                 float: right;
             }
             p {
                 font-family: kanda_b;
                 color: #fff;
                 @media #{$md} {
                     line-height: .9em;
                 }
                 &.contect {
                     font-family: kanda_b;
                     font-size: 1.9em;
                     line-height: 0.7em;
                     span {
                         font-family: kanda_b;
                         font-size: .8em;
                     }
                 }
             }
             a {
                 font-family: kanda_b;
                 color: #fff;
                 font-size: 1.2em;
                 text-decoration: none;
             }
             .col-xs-1 {
                 padding: 0;
             }
             .col-xs-11 {
                 text-align: left;
             }
         }
     }
     
     .for_collapse {
         padding: 0 25px;
         width: 100%;
     }
     
     #scrollToTop {
         position: fixed;
         bottom: 20px;
         right: 20px;
         z-index: 9;
         img {
             width: 35px;
             -webkit-transform: rotate(180deg);
             transform: rotate(180deg);
             -webkit-filter: grayscale(100%);
             filter: grayscale(100%);
         }
     }
     
     // End Content //////////////////////////////////
