 // Content //////////////////////////////////
 body {
     font-family: 'Prompt', sans-serif;
 }
 
 .parallax {
     position: relative;
     opacity: 0.65;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .content_block {
     width: 80%;
     display: block;
     margin: 0 auto;
     position: relative;
 }
 
 section {
     color: #777;
     background-color: white;
     text-align: center;
     padding: 50px 0px;
     text-align: justify;
 }
 
 section.sec1 {
     background-image: url("https://unsplash.it/1200/600?image=70");
     min-height: 400px;
 }
 
 section.sec2 {
     background-image: url("https://unsplash.it/1200/600?image=53");
     min-height: 400px;
 }
 
 section.sec3 {
     background-image: url("https://unsplash.it/1200/600?image=98");
     min-height: 400px;
 }
 
 .caption {
     position: absolute;
     left: 0;
     top: 50%;
     width: 100%;
     text-align: center;
     color: #000;
 }
 
 .caption span.border {
     background-color: #111;
     color: #fff;
     padding: 18px;
     font-size: 25px;
     letter-spacing: 10px;
 }
 
 h3 {
     letter-spacing: 5px;
     text-transform: uppercase;
     color: #111;
 }
 
 // End Content //////////////////////////////////
