 // Content //////////////////////////////////
 section {
     color: #777;
     background-color: white;
     text-align: center;
     padding: 7% 0;
     text-align: justify;
     &.sec1 {
         background-image: url("../images/bg1.jpg");
         min-height: 400px;
     }
     &.sec2 {
         background-image: url("../images/bg2.jpg");
         min-height: 400px;
     }
     &.sec3 {
         background-image: url("../images/bg3.jpg");
         min-height: 400px;
     }
 }
 
 .parallax {
     position: relative;
     opacity: 0.65;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .content_block {
     width: 80%;
     display: block;
     margin: 0 auto;
     position: relative;
 }
 
 .head-title {
     color: #fff;
     .title {
         margin: .2em 0;
     }
     .desc {}
 }
 
 .caption {
     position: absolute;
     left: 0;
     top: 50%;
     width: 100%;
     text-align: center;
     color: #000;
 }
 
 .caption span.border {
     background-color: #111;
     color: #fff;
     padding: 18px;
     font-size: 25px;
     letter-spacing: 10px;
 }
 
 .cards_block {
     margin-top: 4rem;
 }
 
 .card_item {
     position: relative;
     background: rgba(225, 225, 225, .9);
     padding: 15px;
     text-align: center;
     min-height: 240px;
     border-radius: 7px;
     img {
         width: 50%;
         height: auto;
         max-width: 100px;
     }
     .card-title {
         font-family: 'prompt_b';
         margin-top: 15px;
     }
     .card-desc {}
     .card-btn {
         position: absolute;
         z-index: 1;
         bottom: -25px;
         right: -17px;
         background: #00f;
         color: #fff;
         padding: 10px 20px;
     }
 }
 
 // End Content //////////////////////////////////
