    .slideDown {
        animation-name: slideDown;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    
    @keyframes slideDown {
        0% {
            transform: translateY(-50%);
            opacity: 0;
        }
        50% {
            transform: translateY(15%);
            opacity: 1;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    
    @-webkit-keyframes slideDown {
        0% {
            transform: translateY(-50%);
            opacity: 0;
        }
        50% {
            transform: translateY(15%);
            opacity: 1;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    
    .slideUp {
        animation-name: slideUp;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    
    @keyframes slideUp {
        0% {
            transform: translateY(50%);
            opacity: 0;
        }
        60% {
            transform: translateY(-25%);
            opacity: 1;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    
    @-webkit-keyframes slideUp {
        0% {
            transform: translateY(50%);
            opacity: 0;
        }
        60% {
            transform: translateY(-25%);
            opacity: 1;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
