  .table-bordered {
      border: 1px solid #ddd;
      //border-radius: 20px;
      overflow: hidden;
      border-collapse: separate;
      border-spacing: 0;
  }
  
  .table-bordered>thead>tr>td,
  .table-bordered>thead>tr>th {
      border-width: 1px !important;
  }
  
  .for_collapse {
      padding: 0 0px;
      width: 100%;
      display: inline;
      table {
          margin-bottom: 30px;
          thead {
              color: #fff;
              tr:first-child {
                  td {
                      &:first-child {
                          background: $mainblue;
                      }
                      &:last-child {
                          border-right: none;
                      }
                  }
              }
              tr:last-child {
                  td:last-child {
                      border-right: none;
                  }
              }
              td {
                  line-height: 15px;
                  font-size: 1.8em;
                  text-align: center;
                  vertical-align: middle;
                  background: $mainblue;
                  border-top: 1px solid $mainblue;
                  border-left: none;
                  border-right: none;
                  color: #fff;
              }
          }
          tbody {
              tr:first-child {
                  td {
                      border-top: none;
                  }
              }
              td {
                  font-size: 1.6em;
                  border-bottom: none;
                  border-left: none;
                  line-height: normal;
                  &:first-child {
                      width: 47%;
                  }
                  &:last-child {
                      border-right: none;
                  }
              }
          }
      }
  }
  
  .collapse_detail_block {
      background: $lightgray;
      padding: 20px 10%;
      margin: 15px 0 30px;
      font-family: 'kanda_b';
      @media #{$md} {
          padding: 20px 5px;
      }
      .title {
          margin-top: 0;
          font-family: kanda_b;
          border-bottom: 1px solid $mainblue;
      }
      p.sub {
          margin-top: 15px;
          font-size: 1.3em;
          font-family: 'kanda';
      }
      ul {
          list-style-position: inside;
          padding-left: 0;
          color: $mainblue;
          font-family: 'kanda';
          p {
              color: $darkgray;
              display: inline;
          }
      }
      li {}
  }
  
  .fromsec3 {
      //padding-bottom: 100px;
      .nav-tabs li {
          width: 20%;
          &:first-child a {
              //border-left: none;
          }
          &.active {
              a .tab_head {
                  color: $mainblue;
              }
          }
      }
      .tab_head {
          font-family: kanda_exb;
          text-align: center;
          padding: 6px 0;
      }
      table {
          margin-bottom: 100px;
          @media #{$md} {
              margin-bottom: 15px;
          }
          thead {
              background: #83CFF4;
              td {
                  font-size: 1.5em;
                  text-align: center;
                  vertical-align: middle;
                  p {
                      font-size: 1.4em;
                      &.text-med {
                          font-family: kanda_b
                      }
                  }
              }
          }
          tbody {
              td {
                  font-size: 1.7em;
                  padding-left: 7%;
                  padding: 7px !important;
                  &:first-child {
                      text-align: center;
                      width: 15%;
                      padding: 0;
                      vertical-align: middle;
                  }
                  img {
                      max-width: 20px;
                  }
              }
          }
      }
      .side_in_tab {
          background: #fff;
      }
      .side_in_tab .tab-content {
          thead p {
              color: #fff;
          }
          @media #{$md} {
              padding: 0px;
          }
      }
  }
  
  .colp2_list {
      padding-left: 20px;
      text-indent: 2px;
      list-style: none;
      list-style-position: outside;
      li {
          font-size: 18px;
          line-height: 1em;
          color: #3c414b;
      }
      li:before {
          content: '✔';
          margin-left: -1em;
          margin-right: .100em;
          margin-right: .7em;
          font-size: 15px;
      }
  }
  
  .for_collapse .swipe table tbody td {
      font-size: 1.4em;
  }
  
  .formsec3 .swipe table tbody tr td {
      padding: 7px !important;
  }
  
  .show_desk {
      display: block;
      @media #{$md} {
          display: none;
      }
  }
  
  .show_mobile {
      display: none;
      @media #{$md} {
          display: block;
      }
  }
#collapse4{
  margin-top: 2em;
  @media #{$md} {
         margin-top: -2em;
      }
}