  .table-bordered {
      border: 1px solid #ddd;
      border-radius: 20px;
      overflow: hidden;
  }
  
  .for_collapse {
      padding: 0 0px;
      width: 100%;
      display: inline;
      table {
          margin-bottom: 30px;
          thead {
              tr:first-child {
                  td {
                      &:first-child {
                          background: #83CFF4;
                      }
                  }
              }
              td {
                  font-size: 1.5em;
                  text-align: center;
                  vertical-align: middle;
                  border-color: $mainblue;
              }
          }
          tbody {
              td {
                  font-size: 1.35em;
                  &:first-child {
                      width: 47%;
                  }
              }
          }
      }
  }
  
  .collapse_detail_block {
      background: $lightgray;
      padding: 20px 10%;
      margin: 15px 0 30px;
      font-family: 'kanda_b';
      @media #{$md} {
          padding: 20px 5px;
      }
      .title {
          margin-top: 0;
          font-family: kanda_b;
          border-bottom: 1px solid $mainblue;
      }
      p.sub {
          margin-top: 15px;
          font-size: 1.3em;
          font-family: 'kanda';
      }
      ul {
          list-style-position: inside;
          padding-left: 0;
          color: $mainblue;
          font-family: 'kanda';
          p {
              color: $darkgray;
              display: inline;
          }
      }
      li {}
  }
  
  .fromsec3 {
      //padding-bottom: 100px;
      .nav-tabs li {
          width: 20%;
          &:first-child a {
              //border-left: none;
          }
          &.active {
              a {
                  color: $mainblue;
              }
          }
      }
      .tab_head {
          text-align: center;
      }
      table {
          margin-bottom: 100px;
          @media #{$md} {
              margin-bottom: 15px;
          }
          thead {
              background: #83CFF4;
              td {
                  font-size: 1.5em;
                  text-align: center;
                  vertical-align: middle;
                  p {
                      font-size: 1.1em;
                      &.text-med {
                          font-family: kanda_b
                      }
                  }
              }
          }
          tbody {
              td {
                  font-size: 1.35em;
                  padding-left: 7%;
                  &:first-child {
                      text-align: center;
                      width: 15%;
                      padding: 0;
                      vertical-align: middle;
                  }
                  img {
                      max-width: 20px;
                  }
              }
          }
      }
      .side_in_tab {
          background: #fff;
      }
      .side_in_tab .tab-content {
          @media #{$md} {
              padding: 0px;
          }
      }
  }
