doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name='title', content='ประกันภัยการเดินทาง – ซื้อประกันการเดินทาง – Iinsure กรุงไทพพานิชประกันภัย - Travel Insurance – Online Travel Insurance : Iinsure by KPI Thailand')
		meta(name='description', content='ประกันภัยการเดินทาง (Travel Insurance) ในประเทศ เริ่ม 100บาท ประกันภัยการเดินทาง (Travel Insurance) ต่างประเทศราคาค่าเบี้ยถูกพิเศษที่สุด ซื้อประกันการเดินทางออนไลน์ได้รับหนังสือรับรองการรับประกันภัยทันที โทร 026341111, Domestic Travel Insurance starts from THB100, International Travel Insurance with best premium protects you around the world. Buy online Travel Insurance today and receive instant travel insurance policy and protections.')
		meta(name='keywords', content='ประกันภัยการเดินทาง, ประกันการเดินทางต่างประเทศ, ประกันเดินทางต่างประเทศ, ประกันภัยเดินทางต่างประเทศ, ประกันเดินทาง,ซื้อประกันการเดินทาง,ประกันท่องเที่ยว,ประกันการเดินทางในประเทศ,ประกันการเดินทางต่างประเทศ, Travel Insurance, Domestic Travel Insurance, International Travel Insurance, Travel Insurance online, Buy Travel Insurance')
		block meta
			
		

		block title
			title hello

		script(type="text/javascript", src="js/vendors/jquery_v2.1.4.min.js?v=1001")
		link(rel="stylesheet" href="css/vendors/bootstrap.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/vendors/owl.carousel.css")
		script(type="text/javascript", src="js/vendors/bootstrap.min.js")

		block jsFirst
			

		

		block css
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet" href="css/style.css")



	block var
		-var currentPage = "home"
	body
		block body
			p this content
		
		block js
			//- script here
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
		script(type="text/javascript", src="js/vendors/owl.carousel.min.js")
		script(type="text/javascript", src="js/main.js")
