doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name='title', content='ประกันการเดินทาง – ซื้อประกันการเดินทาง – ประกันรถยนต์ – ซื้อประกันรถยนต์ – ประกันอัคคีภัยและทรัพย์สิน – ซื้อประกันอัคคีภัยและทรัพย์สิน - i-Insure - กรุงไทยพานิชประกันภัย - Travel Insurance – Motor Insurance – Household Insurance - Online Insurance : i-Insure by KPI Thailand')
		meta(name='description', content='ประกันภัยการเดินทาง (Travel Insurance) ในประเทศ เริ่ม 83บาท ต่างประเทศราคาค่าเบี้ยถูกพิเศษที่สุด ใช้ยื่นขอวีซ่าเชงเก้น ซื้อประกันการเดินทางออนไลน์ได้รับกรมธรรม์ประกันภัยทันที โทร 026241111, Domestic Travel Insurance starts from THB83, International Travel Insurance with cheap premium protects you around the world. Buy online Travel Insurance today, get travel insurance policy and protections., ประกันภัยรถยนต์ (Motor Insurance) มีบริการช่วยเหลือฉุกเฉินบนท้องถนนตลอด 24 ชั่วโมง พร้อมเลือกประเภทความคุ้มครองที่เหมาะกับรถยนต์ของคุณ ประกันภัยรถยนต์ประเภท 1, 2+, 3 หรือ 3+ ประกันภัยรถยนต์ภาคบังคับ (พ.ร.บ.), ประกันภัยทรัพย์สินภายในบ้าน (Happy Home Protect) คุ้มครองความสูญเสียหรือความเสียหายของทรัพย์สินภายในบ้าน เครื่องใช้ไฟฟ้า เนื่องจากภัยธรรมชาติ รวมถึงทรัพย์สินมีค่าเนื่องจากถูกโจรกรรม')
		meta(name='keywords', content='ประกันภัยออนไลน์, ประกันภัยการเดินทาง, ประกันการเดินทางต่างประเทศ, ประกันเดินทางต่างประเทศ, ประกันภัยเดินทางต่างประเทศ, ประกันเดินทาง, ซื้อประกันเดินทาง, ซื้อประกันการเดินทาง, ประกันท่องเที่ยว, ประกันการเดินทางในประเทศ, Travel Insurance, Domestic Travel Insurance, International Travel Insurance, Travel Insurance online, Buy Travel Insurance, ประกันภัยรถยนต์, ประกันรถยนต์, ซื้อประกันภัยรถยนต์, Motor Insurance, ประกันภัยบ้าน, ประกันภัยทรัพย์สินภายในบ้าน, ประกันอัคคีภัย, ซื้อประกันภัยบ้าน, Household Insurance, Happy Home Protect')


		block meta
			
		

		block title
			title hello

		script(type="text/javascript", src="js/vendors/jquery_v2.1.4.min.js?v=1001")
		link(rel="stylesheet" href="css/vendors/bootstrap.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/vendors/owl.carousel.css")
		script(type="text/javascript", src="js/vendors/bootstrap.min.js")

		block jsFirst
			

		

		block css
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet" href="css/style.css")

	//- // google-analytics
	//- script.
	//- 	if (null == null) {
	//- 	var _gaq = _gaq || [];
	//- 	_gaq.push(['_setAccount', 'UA-32662046-1']);
	//- 	_gaq.push(['_trackPageview']);
	//- 	(function() {
	//- 	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	//- 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	//- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	//- 	})();
	//- 	//console.log('--- userSession is null ---');
	//- 	}
	//- // google-analytics Code
	//- // Facebook Pixel Code
	//- script.
	//- 	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	//- 	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	//- 	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	//- 	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	//- 	document,'script','//connect.facebook.net/en_US/fbevents.js');
	//- 	fbq('init', '1523210844661167');
	//- 	fbq('track', "PageView");
	//- 	<noscript>
	//- 	&lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1523210844661167&amp;ev=PageView&amp;noscript=1"/&gt;
	//- 	<!-- End Facebook Pixel Code -->




	block var
		-var currentPage = "home"
	body
		block body
			p this content
		
		block js
			//- script here
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
		script(type="text/javascript", src="js/vendors/owl.carousel.min.js")
		script(type="text/javascript", src="js/main.js")
