footer
	.row
		.col-xs-12.col-sm-10.col-centered
			.col-xs-12.col-sm-6
				p 
					span © 
					| สงวนลิขสิทธ์ิ 2560 บริษัท กรุงไทยพานิชประกันภัย จำกัด (มหาชน)
			.col-sm-6.right
				img(src="./images/ktb_logo.png", alt="")