footer
	.row
		.col-xs-12.col-sm-10.col-centered
			.col-xs-12.col-sm-6
				p 
					span © 
					| 2017 Krungthai Panich Insurance Public Company Limited
			.col-sm-6.right
				img(src="./images/ktb_logo.png", alt="")